
/*  Грид  сетка */

body {
    display: grid;
    grid-template-areas: 
    "header header header"
    "vertical_nav main info_block"
    "footer footer footer";
    grid-template-columns: 1fr minmax(500px, 1100px) 1fr;
    grid-template-rows: 10em auto 1fr;
}

header {
    grid-area: header;
}
#vertical_nav {
    grid-area: vertical_nav;
}
#info_block {
    grid-area: info_block;
}
main {
    grid-area: main;
    margin-bottom: 1em;
}
footer {
    grid-area: footer;
}
.footer {
        grid-row-start: 3;
        grid-row-end: 4;
}
/* Размещение элементов в нутри сетки */

.stat_block {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1em;
}
.story_block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
}
.story_block_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    align-items: center;
} 
.news_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1em;
}
.blog_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1em;
}
