
/*  Грид  сетка */

body {
    display: grid;
    grid-template-areas: 
    "header header header"
    "vertical_nav main info_block"
    "footer footer footer"
    "end end end"
    ;
    grid-template-columns: 1fr minmax(500px, 1100px) 1fr;
    grid-template-rows: 5em auto 10em 5em;
}
#end {
    grid-area: end;
}

header {
    grid-area: header;
}
#vertical_nav {
    grid-area: vertical_nav;
}
#info_block {
    grid-area: info_block;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

/* Размещение элементов в нутри сетки */

.stat_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1em;
}
.story_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}
.news_block {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1em;
}

