@import "/css/grid.css"; @import "/css/button.css"; @import "/css/flex.css"; @import "/css/form.css";

/* Шрифты и отступы */

* {
    padding: 0;
    margin: 0; 
    list-style-type: none; 
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* color: #1E3A52; */
}


/* Общие стили */

img {
    width: 100%;
    height: auto;
    
}

.button_block {
   padding-top: 3em;
   padding-bottom: 3em;
}

.info_buton { 
margin-top: 40em;
}
.conteiner {
    text-align: center;
}

.news_block{
    
}
.conteiner h3,p {
    margin: 1em auto;
}

footer,h5 { 
    margin: 1em;
}
.avtor_img {
    border-radius: 50%;

}
.stat_img {
    border-radius: 50%;
}
.blog_img {
    border-radius: 10%;
}

/* Кнопка перехода к анкете */

.start_button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: black;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
  }
  .start_button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    color: white;
    transform: translateY(-7px);
  }

/* Меню */

.top-menu {
    position: relative;
    background: rgba(34,34,34,.2);
  }

  .menu-main a {
    text-decoration: none;
    display: block;
    line-height: 4em;
    padding: 0 20px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: white;
    transition: .3s linear;
  }
  .menu-main a:hover {background: rgba(0,0,0,.3);
}
 

/* .menu-main {
    margin-top: 1em;
  } 
.menu-main ul  {
    display: block;
}
.menu-main a {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color 0.3s;
}
.menu-main a, .menu-main a:visited {
    color: black;
}
.menu-main a.current, .menu-main a:hover {
    color: #2EE59D;
}
header:hover {
    background-color: grey;
    transition: 0.5s;
} */


/* Автор */
.avtor {
    background-image: linear-gradient(#2EE59D 50%, #2EE59D 50%), linear-gradient(silver 50%, silver 50%); 
    background-position: center bottom; 
    background-repeat: no-repeat; 
    background-size: 0 2px, 100% 2px; 
    color: black; 
    padding-bottom: 3px; 
    transition: .5s ease-in-out;
}
.avtor:hover {
    background-size: 100% 2px, 100% 2px;
    color: #2EE59D;
}

/* Читать дальше  */

.read_later {
   
    background-position: center bottom; 
    background-repeat: no-repeat; 
    background-size: 0 2px, 100% 2px; 
    color: black; 
    padding-bottom: 3px; 
    transition: .5s ease-in-out;
}
.read_later:hover {
    background-size: 100% 2px, 100% 2px;
    color: #2EE59D;

}

/* Изображения */

/* Фон */

body {
    background-image: url(/img/fon.jpg);
    ​​​​​​​​​​​​​background-attachment: fixed;
    background-repeat: no-repeat;
}

img {
    /* Прозрачность */
    opacity:0.9;
    cursor: pointer;
}
img:hover {
    opacity: 1;
}

/* Фоотер */

footer {
    /* background: rgba(34,34,34,.2); */
    width:100%;
    margin:3em auto
}

footer .social a {
    height: 98px;
    width: 98px;
    display: inline-block;
    background: url(../img/sprites.png);
    background-repeat: no-repeat;
}
footer a.facebook {
    background-position: 0 0;
}
footer a.youtube {
    background-position: -200px 0;
}
footer a.twitter {
    background-position: -500px 0;
}
footer a.instagram {
    background-position: -300px 0;
}
footer a.linked {
    background-position: -400px 0;
}
/* Модальное окно входа  */

.modal {
    position: absolute;
    top: 10%;
    left: 40%;
    right: 40%;
    max-width: 350px;
    padding: 80px 30px 30px;
    margin: 50px auto 30px;
    background: whitesmoke;
    /* background:rgb(90, 197, 230);
    padding: 30px; */
    transition: all 1s;
}
.modal h3 {
    position: relative;
    z-index: 5;
    margin: 0 0 60px;
    text-align: center;
    color: #4a90e2;
    font-size: 30px;
    font-weight: normal;
}
.ui-form h3:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 60px;
    top: -30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fee8e4;
}
.ui-form h3:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 50px;
    top: -40px;
    width: 0;
    height: 0;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 90px solid #ffe3b5;
}

.form-row {
    position: relative;
    margin-bottom: 40px;
}
.form-row input {
    display: block;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 2px solid #4a90e2;
    transition: all 0.2s ease;
}
.form-row label {
    position: absolute;
    left: 13px;
    color: #9d959d;
    font-size: 20px;
    font-weight: 300;
    transform: translateY(-35px);
    transition: all 0.2s ease;
}

.form-row input:focus {
    outline: 0;
    border-color: #F77A52;
}

.form-row input:focus + label, 
.form-row input:valid + label {
  transform: translateY(-60px);
  margin-left: -14px;
  font-size: 14px;
  font-weight: 400;
  outline: 0;
  border-color: #F77A52;
  color: #F77A52;
}

.modal input[type="submit"] {
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: #4a90e2;
    border-width: 0;
    color: white;
    font-size: 20px;
}
.modal p {
    margin: 0;
    padding-top: 10px;
}
.modal:target {
    opacity: 1;
}

.modal:not(:target) {  
    /* display: none; */
    visibility: hidden;
    opacity: 0;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    font-size: x-large;
}

/* Адаптивность */




@media screen and (max-width: 770px) { /*xm*/
    aside {
        display: none;
    }
    .stat_block_xm {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 1em;
    }
    .story_block_xm  {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 1em;
    }
    .blog_block_xm {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 1em;
    }
    .news_block_xm {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 1em;
    }
}
@media screen and (max-width: 480px ) {/*xs*/
    aside {
        display: none;
    }
    .stat_block_xs {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        /* gap: 1em; */
    }
    .story_block_xs  {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap: 1em;
    }
    .news_block_xs {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap: 1em;
    }
    .blog_block_xs {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap: 1em;
    }
    .menu-main  {
        display: block;
        text-align: center;
    }
   
}
